@media (max-width: 1030px) {
  #secondary {
    display: none;
  }
}

@media (max-width: 860px) {
  #featured {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'A A'
      'B C'
      'D E';

    figcaption {
      &:has(.text-lg) {
        align-content: end;
        align-items: end;
        min-height: 20rem;
      }
    }
  }

  #weekly > div {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;

    img {
      width: 100%;
    }
  }

  #ai-and-more {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .container {
    padding-inline: 2rem;
  }

  #primary {
    justify-items: center;
    grid-auto-flow: row;
    gap: 2rem;

    div:nth-child(3) {
      justify-self: center;
    }
  }

  main {
    gap: 4rem;
    margin-bottom: 4rem;
  }

  #featured {
    grid-template-columns: 1fr;
    grid-template-areas:
      'A'
      'B'
      'C'
      'D'
      'E';

    .card {
      &:first-child {
        grid-area: A;
        height: 30rem;
      }

      figcaption {
        &:has(.text-2xl, .text-lg) {
          padding: 2rem;
        }
      }
    }
  }

  #weekly > div {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  #ai-and-more {
    grid-template-columns: 1fr;

    .news {
      grid-template-columns: 1fr;

      img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        grid-column: 1;
      }

      span {
        margin-top: 1rem;
      }
    }
  }
}
