#featured {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'A A B C'
    'A A D E';

  .card {
    align-content: end;
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      top: 50%;
      background-image: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    img {
      position: absolute;
      inset: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.4rem;
    }

    figcaption {
      position: relative;
      padding: 2.4rem;

      &:has(.text-lg) {
        padding: 1.2rem;
      }
    }
  }

  .card:first-child {
    grid-area: A;
    height: 41.6rem;
  }

  .card:nth-child(3) {
    grid-area: C;
  }
}
