#weekly {
  figure {
    position: relative;

    img {
      height: 16rem;
      object-fit: cover;
      border-radius: 0.4rem;
    }

    span {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
    }

    p {
      margin-top: 0.8rem;
    }
  }
}
